<div class="card">
  <div class="card-body">
    <h5 class="card-title">Reservation Summary</h5>
    <h6 class="card-title mt-5">{{hotelSelected.name}}</h6>
    <div class="row mt-3">
      <div class="col-6">
        <p class="font-weight-bold">Check in</p>
        <p class="second-p t-gray">From 15.00h</p>
      </div>
      <div class="col-6">
        <p class="font-weight-bold">Check out</p>
        <p class="second-p t-gray">Before 12.00h</p>
      </div>
    </div>
    <p>Reservation Day</p>
    <p class="second-p t-gray">From {{resevationSelected.checkin}} Before {{resevationSelected.checkout}}</p>
    <p>People</p>
    <p class="second-p t-gray">{{resevationSelected.adults}}</p>
    <p class="second-p t-gray">{{resevationSelected.children}}</p>
    <hr>
    <div class="row">
      <div class="col-6">
        <h5>Total</h5>
      </div>
      <div class="col-6 ">
        <h5 class="float-end">€{{ discount ? discount * hotelSelected.price :  hotelSelected.price }}</h5>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-large mt-4" (click)="save()">Save</button>
  </div>
</div>
